TELEGRAM_BOT_TOKEN=TU_TOKEN_AQUI
OPENAI_API_KEY=TU_KEY_AQUI
NOTION_TOKEN=TU_TOKEN_AQUI
NOTION_INGRESOS_DB_ID=ID_BASE_INGRESOS_DETALLADOS
NOTION_GASTOS_DB_ID=ID_BASE_GASTOS_DETALLADOS
NOTION_PROYECCIONES_GASTOS_DB_ID=ID_BASE_PROYECCIONES_EGRESOS
NOTION_PROYECCIONES_INGRESOS_DB_ID=ID_BASE_PROYECCIONES_INGRESOS
NOTION_AHORROS_DB_ID=ID_BASE_AHORROS
NOTION_PRIORIDADES_DB_ID=ID_BASE_PRIORIDADES
